@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    /*Colores*/
    --color1: #000;
    --color2: #fff;
    --color3: #8C52FF;
    --color4: rgb(128,179,255);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

p, a, li, i {
    font-size: 1em;
    text-decoration: none;
    list-style: none;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 15px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
}

.main, .header, .footer {
    width: 100%;
    max-width: 1400px;
}

/*Header*/

.header {
    padding:  20px 0 20px 0;
  
}
.in-progress {
    color: red;
}

/*Main*/

.portada, .portfolio,.contacto {
    margin:  20px 0 20px 0; 
}


/*Logo*/


.main  {
    background-color: var(--color2);
    border-radius: 6px;
    color: var(--color1);
}

.cv {
    border: none;
    padding: 10px;
    background-color: var(--color4);
    border-radius: 6px;
}

.cv a {
    color: var(--color2);
    font-weight: bolder;
}
/*Portada*/

.contenedor-presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--color2);
    color: var(--color1);
    border-radius: 6px;
    
}

.presentacion, .habilidades {
    height: 20px;
    height: max-content;
    display: flex;
    flex-direction: column;
}


.habilidades-iconos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 6px;
}

.habilidades-iconos div {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding: 10px;
    
}

.habilidades-iconos i {
    font-size: 2.5em;
}

/*Portfolio*/
.portfolio {
    background-color: var(--color2);
    border-radius: 6px;
    color: var(--color1);
}
.contenedor-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 200px;
    border: solid 2px var(--color3);
    border-radius: 6px;
    
}

/*Contacto*/

.contacto {
    padding-bottom: 30px;
}

.contacto-contenedor {
    display: flex;
    justify-content: center;
    background-color: var(--color1);
    color: var(--color2);
    border-radius: 6px;
    padding: 20px;
}

.contacto-contenedor form {
    display: flex;
    flex-direction: column;
    width: 95%;
    gap: 10px;
}

.contacto-contenedor form input, textarea{
    padding: 10px;
    border: none;
    border-radius: 6px;
}

.contacto-contenedor form button{
    padding: 10px;
    border: none;
    background-color: var(--color4);
    border-radius: 6px;
    color: var(--color2);
    font-weight: bolder;
}

/*FOOTER*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.redes {
    gap: 30px;
    padding-bottom: 30px;
}

.redes i {
    font-size: 3em;
}

.redes2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.redes2 div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.whatsapp {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: rgb(25,195,33);
    border-radius: 100%;
    padding: 8px 10px;
}

.whatsapp i {
    color: var(--color2);
    font-size: 2em;
}

/*Medias*/

@media (min-width: 576px){
    .habilidades-iconos div {
        width: 22%;
    }

    .proyecto {
        width: 50%;
    }

    .contacto-contenedor form {
        width: 60%;
    }
}
@media (min-width: 992px){
    /*aca hace el corte*/

    body {
        padding: 0 20px 0 20px;
    }

    .contenedor-presentacion {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .presentacion, .habilidades {
        width: 45%;
    }

   

    /*Porfolio*/
    .contenedor-portfolio {
        flex-direction: row;
    }

    .proyecto {
        width: 25%;
    }

    .contacto-contenedor form {
        width: 40%;
    }

   
}
@media (min-width: 1200px){
    .habilidades-iconos div {
        width: 20%;
    }
}
@media (min-width: 1400px){}

