@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    /*Colores*/
    --color1: #000;
    --color2: #fff;
    --color3: #8C52FF;
    --color4: rgb(128,179,255);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

p, a, li, i {
    font-size: 1em;
    text-decoration: none;
    list-style: none;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.main, .header, .footer {
    width: 100%;
    max-width: 1400px;
}

/*Header*/

.in-progress {
    color: red;
}

/*Main*/

.main section {
    margin:  40px 0 40px 0 ;
      
}
/*Logo*/


.cv {
    margin-top: 20px;
    border: none;
    padding: 10px;
    background-color: var(--color4);
    border-radius: 6px;
}

.cv a {
    color: var(--color2);
}
/*Portada*/

.contenedor-presentacion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    
}

.presentacion, .habilidades {
    height: 20px;
    height: max-content;
    display: flex;
    flex-direction: column;
    
}


.habilidades-iconos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.habilidades-iconos div {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px var(--color3);
    padding: 10px;
    
}

.habilidades-iconos i {
    font-size: 2.5em;
}

/*Portfolio*/

.proyectos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: solid 1px black;
    display: none;
}

.proyecto {
    width: 100%;
    height: 200px;
    border: solid 1px red;
}

/*Contacto*/

.contacto-contenedor {
    display: flex;
    justify-content: center;
    display: none;
}

.contacto-contenedor form {
    display: flex;
    flex-direction: column;
    width: 80%;
}



/*Medias*/

@media (min-width: 576px){
    .habilidades-iconos div {
        width: 20%;
    }
}
@media (min-width: 992px){
    /*aca hace el corte*/
    .contenedor-presentacion {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .presentacion, .habilidades {
        width: 45%;
    }

    /*Porfolio*/
    .proyectos {
        flex-direction: row;
        justify-content: space-between;
    }

    .proyecto {
        width: 30%;
    }

    .contacto-contenedor form {
        width: 50%;
    }
}
@media (min-width: 1200px){}
@media (min-width: 1400px){}

